.app__menuitem {
    width: 100%;
    margin: 1rem 0;
}

.app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__menuitem-sub {
    width: 120%; 
    margin-top: 0.2rem; 
}

.app__menuitem-name {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    flex: 1;

}

.app__menuitem-dash {
    flex: 1;
    height: 1px;
    background: var(--color-golden);
    margin: 0 3rem;
    border-bottom: 1px ;
}

.app__menuitem-price {
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
}