.app__newsletter {
    z-index: 1;
    padding: 2rem 4rem;
    border: 1px solid var(--color-golden);
    background: var(--color-black);
}

.app__newsletter-heading {
    text-align: center;

}

.app__newsletter-input {
    flex-direction: row;
    margin-top: 3rem;
}

.app__newsletter-input input {
    width: 620px;
    border: 1px solid var(--color-golden);
    border-radius: 6px;
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--color-white);
    margin-right: 2rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
}

.app__newsletter-input button {
    width: max-content;
}

@media screen and (min-width: 2000px) {
  .app__newsletter-input input {
    font-size: 2rem;
    padding: 1.25rem 1.5rem;
  }
  
  .app__newsletter-input button {
    font-size: 1.5rem;
    padding: 1.25rem 3rem;
  }
}

@media screen and (max-width: 1150px) {
  .app__newsletter {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 990px) {
  .app__newsletter-input {
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }
  
  .app__newsletter-input input {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .app__newsletter {
    padding: 2rem 1.5rem;
  }
  
  .app__newsletter-heading h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 300px) {
    .app__newsletter {
    padding: 2rem 1rem;
    border: none;
  }
  
  .app__newsletter-heading h1 {
    font-size: 2rem;
    line-height: 1.3;
  }
  
  .app__newsletter-input {
    gap: 1rem;
  }
}
